:root {
  --primary: #f7941d;
  --primary-highlight: #f7a848;
  --background: #1d1d1d;
  --dark: #2d2d2d;
  --mid: #383838;
  --mid-highlight: #414141;
  --border-color: #656565;
  --border: 2px solid var(--border-color);
  --white: #d7d7d7;

  background-color: var(--background);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.btn {
  border: none;
  outline: none;
  cursor: pointer !important;
  padding: 8px 16px;
  border-radius: 5px;
  color: var(--white);
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-highlight);
}

.btn-secondary {
  background-color: var(--mid);
  border: var(--border);
}

.btn-secondary:hover {
  background-color: var(--mid-highlight);
}

.home {
  margin-top: 50px;
}

.home .logo {
  height: 39px;
  object-fit: contain;
  margin-bottom: 30px;
  max-width: 80%;
}

.home button {
  margin-top: 15px;
}

.nav-logo {
  height: 50px;
  object-fit: contain;
}

h1 {
  color: var(--white);
}

.nav-container {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
  align-items: center;
}

.btn-wrapper {
  height: 30px;
}

.btn-wrapper button {
  background-color: var(--mid) !important;
  padding-inline: 10px !important;
  border: var(--border) !important;
  margin-bottom: 0 !important;
  height: 30px;
}
